src/main/mule/mule-cicd-poc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="886dcf4c-0a45-4299-ba03-b4a216cb74ab" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<flow name="mule-cicd-pocFlow" doc:id="3634b59a-9f15-427a-8f78-8a9f28125bd1" >
		<http:listener doc:name="Listener" doc:id="03289a2a-fad4-4f67-8cb4-d9bafc3d11f8" config-ref="HTTP_Listener_config" path="/cicd"/>
		<ee:transform doc:name="Transform Message" doc:id="715f9064-1d89-4cc7-b198-cbc587386b0b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"currentDateTime": now()
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="726864ac-997d-4979-aa92-9d22b59c2279" message="#[payload]"/>
	</flow>
</mule>
